@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rock+Salt&family=Sedgwick+Ave&display=swap");
canvas.webgl {
  position: absolute;
  background-color: blue;
  left: 200px;
  top: 200px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: radial-gradient(#f7f7f7, rgb(187, 193, 196));
  background-attachment: fixed;
  background-size: 100vw 100vh;
  width: 100%;
  overflow-x: hidden;
  color: #252525;
}
.container-fluid {
  margin: 0px 2vw;
}
section {
  border: gray solid 1px;
}
.btn-lines {
  padding: 7px 25px 5px 30px;
  border-radius: 999px;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  background: rgb(0, 0, 0);
}
.btn-lines:hover {
  background: rgb(43, 43, 43);
  color: white;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 60px;
  font-weight: 370;
  letter-spacing: 0.02em;
  line-height: 70px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.script-text {
  font-family: "Story Script", sans-serif;
  font-variant: normal;
  color: gray;
}
.hero-logo {
  width: 230px;
  margin-left: 15px;
  margin-bottom: 40px;
}
.mid {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.font-raw {
  position: absolute;
  top: 260px;
  left: 1060px;
  color: gray;
  font-variant: normal;
  font-family: "Story Script", sans-serif;
}
.frame {
  background-position: 0px -1800px;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 50px;
  border-bottom: none;
}
.frame-line {
  border: solid 1px gray;
}

.navbar-nav {
  padding: 2px 30px;
  border: #7e7e7e solid 1px;
  border-radius: 999px;
  margin-top: 10px;
  backdrop-filter: blur(20px);
  background: rgba(226, 226, 226, 0.5);
  font-size: 16px;
}

.left.active {
  transform: translate(-5px, 6.7px) rotate(-22deg);
  transition: all ease-out 100ms;
}
.right.active {
  transform: translate(8px, -1.6px) rotate(22deg);
  transition: all ease-out 100ms;
}
.cls-1 {
  transition: all ease-out 100ms;
}
.silla {
  width: 100%;
}
.car-img {
  position: absolute;
  border: whitesmoke 8px solid;
}
.img-1 {
  left: 0px;
  top: 20px;
  min-height: 200px;
  max-height: 80%;
  max-width: 50%;
  max-height: 50%;
  z-index: -1;
}

.img-2 {
  min-width: 200px;
  max-width: 50%;
  max-height: 50%;
  right: 0;
  bottom: 20px;
  z-index: 3;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
